{
    "root": true,
    "extends": ["plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "ignorePatterns": ["./node_modules/*"],
    "rules": {
        "prettier/prettier": "warn"
    }
}
