{
    "root": true,
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": "latest"
    },
    "parser": "@babel/eslint-parser",
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "ignorePatterns": ["./node_modules/*"],
}
